{% load static %}

<style type="text/css">
#start_img {
        width: 40px;
        height: 35px;
        border-radius: 50%;
    }
</style>

<html>
  <head>
    <title>Django Dialogflow</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
  </head>
  <body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:  #2a6679;" >,
      <div class="container">
        <a class="navbar-brand mr-4" style="color:rgb(250, 250, 250);" href="{% url 'index' %}" >Chatbot</a>
        <!-- <a class="navbar-brand mr-4" href="{% url 'user-home' %}">ChatBot</a> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <a class="btn btn-info mx-1 my-1"  href="{% url 'logout' %}" >Logout</a>
          {% else %}
            <a class="btn btn-info mx-1 my-1" href="{% url 'login' %}">Login</a>
            <a class="btn btn-info mx-1 my-1" href="{% url 'register' %}">Register</a>
          {% endif %}
          </ul>
      </div>
  </nav>
  </header>
  

    <div class="contain">

      <div class="page-header text-center">
        <h1 style="color:rgb(172, 16, 16);">AB InBev Chatbot</h1>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <form id = "mylang">
            <div class="input-group input-group-lg">
              <!-- <div  > -->
              <select id = "input-f"  width = "20000px" type="text"  class="form-control js-lang js-say-lan" placeholder="Your Language" id="lang" name="lang">
              <!-- <select name="lang" id="lang"> -->
                <option value="en">English</option>
                <option value="fr-FR">French</option>
                <option value="nl">Dutch</option>
                <option value="it">Italian</option>
                <option value="de">German</option>
              </select>
            <!-- </div> -->
              <!-- <span class="input-group-btn">   
                <button type = "button" class="btn btn-primary js-say-lan">Submit</button>
              </span> -->
              
            </div>
          </form>
        </div>
        </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <ul class="list-group js-chat-log">
          </ul>

          <form id = "myform">
          <div class="input-group input-group-lg">
            <!-- <div  > -->

            <input id = "input-field"  width = "20000px" type="text"  class="form-control js-text" placeholder="Your Chat" id="text" name="text" x-webkit-speech>
          <!-- </div> -->
          
            <span class="input-group-btn">   
              <button type = "button" class="btn btn-primary js-say">Submit</button>
              <i id="fshmicrophone" aria-hidden="true"><img id="start_img" src="/media/mic_black.png" alt="Start"></i>
            </span>

            
          </div>
        </form>
        </div>
  
    <!-- <audio class="sound" src="chime.mp3"></audio> -->
    <!-- {{ room_name|json_script:"room-name" }} -->
    <!-- <script src="index.js"></script> -->
    </div>

    

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
      console.log("THEI");
      // speechSynthesis.speak(new SpeechSynthesisUtterance("HI I AM SIRI"));
      // document.write("CGDH");
      var $chatlog = $('.js-chat-log');
      // document.write($chatlog);
      // document.write("A");
      var $input = $('.js-text');
      var $language = $('.js-lang');
      // document.write($language);
      console.log($language);
      // document.write($input);
      console.log($input);
      var formData = new FormData(document.getElementById("myform"));
      var $sayButton = $('.js-say');
      var $langButton = $('.js-say-lan');
      var dialogflowUrl = '{% url "index" %}';
      var csrftoken = Cookies.get('csrftoken');
      var $output;
      
      console.log($language.val());
      console.log("B");
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
            
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      function createRow(text) {
        
        var $row = $('<li class="list-group-item"  width = 20000px></li>');
        var list = '<li class="list-group-item"  width = 20000px>'
         var k = text.split("\n")

         for(i=0;i<k.length;i++) {
             list += k[i]+"<br />"
         }

        list = list + "</li>"
        $row.text(list);
        // document.write(list);
        $chatlog.append(list);
        //$chatlog.append(text);
      }
      console.log("D");
      // window.onload = createRow('<b><font size="4" face="Lucida Console">Ch</font></b>');

      function submitInput() {
        var inputData = {
          'text': $input.val()
          
        }
        // Display the user's input on the web page
        // document.write(inputData.text);
        createRow(inputData.text);
        var dialogflowChatUrl = '{% url "chat-home" %}';
        // document.write("HHHHHHHHEEEEYYYYYY"); 
        console.log("BEFORE POST") ;  
        var $submit = $.ajax({
          type: 'POST',
          url: dialogflowChatUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json',
        });
        console.log("completed post");
        $submit.done(function(statement) {
            // console.log("SUBMIT DONE");
            // createRow(statement.text);
            // document.write(statement);
            createRow(statement);
            console.log("this is", statement);
            utter = new window.SpeechSynthesisUtterance(statement);
            window.speechSynthesis.cancel();
            window.speechSynthesis.speak(utter);
            // Clear the input field
            $input.val('');
        });

        $submit.fail(function() {
          // TODO: Handle errors
        });
      }
      console.log("E");
      $sayButton.click(function() {
        console.log("C");
        // document.write("SUBMIT");
        submitInput();
      });

      function submitLang() {
        var inputData = {
          'text': $language.val()
          
        }
        // document.write(inputData.text);
        // Display the user's input on the web page
        // document.write(inputData.text);
        // createRow(inputData.text);
        var dialogflowChatUrl = '{% url "language" %}';
        // document.write("HHHHHHHHEEEEYYYYYY"); 
        console.log("BEFORE POST") ;  
        var $submit = $.ajax({
          type: 'POST',
          url: dialogflowChatUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json',
        });
        console.log("completed post");
      /*  $submit.done(function(statement) {
            // console.log("SUBMIT DONE");
            // createRow(statement.text);
            // document.write(statement);
            createRow(statement);
            console.log("this is", statement);
            speechSynthesis.speak(new SpeechSynthesisUtterance(statement));
            // Clear the input field
            $input.val('');
        });*/

        $submit.fail(function() {
          // TODO: Handle errors
        });

        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
let toggleBtn = null;
if (typeof SpeechRecognition === "undefined") {
  startBtn.remove();
  result.innerHTML = "<b>Browser does not support Speech API. Please download latest chrome.<b>";
  
} else {
  const recognition = new SpeechRecognition();
  recognition.lang =  $language.val();
  // if($language.val != null){
  // recognition.lang = $language.val();
  // }
  
  console.log(recognition.lang);
  recognition.continuous = true;
  recognition.interimResults = true;
  recognition.onresult = event => {
    const last = event.results.length - 1;
    const res = event.results[last];
    const text = res[0].transcript;
    document.getElementById("input-field").value = text;
    if (res.isFinal) {
      processing.innerHTML = "processing ....";

      const response = process(text);
      const p = document.createElement("p");
      // p.innerHTML = `You said: ${text} </br>Siri said: ${response}`;
      $(text);

      // var input = text;
      processing.innerHTML = "";
      result.appendChild(p);

      // text to speech
      // speechSynthesis.speak(new SpeechSynthesisUtterance(response));
    } else {
      processing.innerHTML = `listening: ${text}`;
    }
  }
  let listening = false;
  toggleBtn = () => {
    if (listening) {
      recognition.stop();
      startImg.src = "/media/mic_black.png";
      // startBtn.textContent = "Start listening";
    } else {
      recognition.start();
      startImg.src = "/media/mic.gif";
      // startBtn.textContent = "Stop listening";
    }
    listening = !listening;
  };
  startBtn.addEventListener("click", toggleBtn);

}
      }
  

      $langButton.click(function() {
        console.log("C");
        // document.write("SUBMIT");
         submitLang();
      });

      // UI comp
const startBtn = document.querySelector('#fshmicrophone')
const startImg = document.querySelector('#start_img')
// startBtn.innerHTML = "Start listening";
const result = document.createElement("div");
const processing = document.createElement("p");
// document.write("<body><h1>My Siri</h1><p>Give it a try with 'hello', 'how are you', 'what's your name', 'what time is it', 'stop', ... </p></body>");
// document.body.append(startBtn);
// document.body.append(result);
// document.body.append(processing);

const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
let toggleBtn = null;
if (typeof SpeechRecognition === "undefined") {
  startBtn.remove();
  result.innerHTML = "<b>Browser does not support Speech API. Please download latest chrome.<b>";
  
} else {
  const recognition = new SpeechRecognition();
  recognition.lang = 'en'
  // if($language.val != null){
  // recognition.lang = $language.val();
  // }
  
  console.log(recognition.lang);
  recognition.continuous = true;
  recognition.interimResults = true;
  recognition.onresult = event => {
    const last = event.results.length - 1;
    const res = event.results[last];
    const text = res[0].transcript;
    document.getElementById("input-field").value = text;
    if (res.isFinal) {
      processing.innerHTML = "processing ....";

      const response = process(text);
      const p = document.createElement("p");
      // p.innerHTML = `You said: ${text} </br>Siri said: ${response}`;
      $(text);

      // var input = text;
      processing.innerHTML = "";
      result.appendChild(p);

      // text to speech
      // speechSynthesis.speak(new SpeechSynthesisUtterance(response));
    } else {
      processing.innerHTML = `listening: ${text}`;
    }
  }
  let listening = false;
  toggleBtn = () => {
    if (listening) {
      recognition.stop();
      startImg.src = "/media/mic_black.png";
      // startBtn.textContent = "Start listening";
    } else {
      recognition.start();
      startImg.src = "/media/mic.gif";
      // startBtn.textContent = "Stop listening";
    }
    listening = !listening;
  };
  startBtn.addEventListener("click", toggleBtn);

}
// processor
function process(rawText) {
  let text = rawText.replace(/\s/g, "");
  text = text.toLowerCase();
  let response = null;
  submitInput()
  // createRow(text);
  switch(text) {
    case "hello":
      response = "hi, how are you doing?"; 
      // createRow(response);
      break;

    case "what'syourname":
      response = "My name's Siri.";  break;
    case "howareyou":
      response = "I'm good."; break;
    case "whattimeisit":
      response = new Date().toLocaleTimeString(); break;
    case "stop":
      response = "Bye!!";
      toggleBtn();
  }
  // if (!response) {
  //   window.open(`http://google.com/search?q=${rawText.replace("search", "")}`, "_blank");
  //   return `I found some information for ${rawText}`;
  // }
  return response;
}
    </script>
  </body>
</html>